<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户密码修改</title>

	<link href="resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<link href="resources/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
	<link href="resources/plugins/select2/css/select2.min.css" rel="stylesheet"/>

	<link href="resources/css/common.css" rel="stylesheet"/>
</head>
<body ng-app="createPasswordApp" >
<div id="main" style="width:500px;margin-left:100px;margin-top:100px;border:1px solid #e4dddd;">
    <div id="title" style="margin-top:10px;">个人密码修改</div>
	<div id="createDialog" ng-controller="myCtrl"  style="padding:20px">
    <form name="myForm" >
        <div class="form-group">
            <label for="name">新密码</label>
            <input name="password"  ng-model="data.password" type="password" class="form-control" id="name" required>
            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">新密码是必须的。</span>
        </div>
        <div class="form-group">
            <label for="confirmPassword">确认密码</label>
            <input name="confirmPassword" ng-model="data.confirmPassword" type="password" class="form-control" required>
            <span style="color:red" ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid">确认密码是必须的。</span>
        </div>
        <button type="submit" class="btn btn-info" ng-click="modify()" ng-disabled="myForm.$invalid"  style="width:100px;background-color:#36ab62;border-color:#36ab62;">修改</button>
    </form>
</div>
</div>

<script src="resources/plugins/jquery.1.12.4.min.js"></script>
<script src="resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="resources/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="resources/plugins/select2/js/select2.min.js"></script>
<script src="resources/js/common.js"></script>
<script src="resources/plugins/angular/angular-1-4-1.js"></script>
<script>
$(function() {
	$(document).on('focus', 'input[type="text"]', function() {
		$(this).parent().find('label').addClass('active');
	}).on('focus', 'input[type="password"]', function() {
	    $(this).parent().find('label').addClass('active');
	}).on('blur', 'input[type="text"]', function() {
		if ($(this).val() == '') {
			$(this).parent().find('label').removeClass('active');
		}
	}).on('blur', 'input[type="password"]', function () {
	    if ($(this).val() == '') {
	        $(this).parent().find('label').removeClass('active');
	    }
	});
});	
var myapp = angular.module("createPasswordApp", [])
myapp.controller("myCtrl", function ($scope, $http, $location) {
   $scope.data = {}
   $scope.modify = function () {
	   var userId = sessionStorage.getItem('userId');
	   $scope.data.id = userId;
       $http.post('/password', JSON.stringify($scope.data))
       .success(function (res) {
           if (res && res.code === 0) {
        	   $.confirm({
       			title: false,
       			content: '密码修改成功',
       			backgroundDismiss: true,
       			buttons: {
       				cancel: {
       					text: '确定',
       					btnClass: 'waves-effect waves-button',
       					action: function () {
       						location.reload();
       					}
       				}
       			}
       		});
           } else {
               alert(res.message);
           }
       })
   }
})
</script>
</body>
</html>